body {
  margin: 0;
  padding: 0;
  background-color: #1b1b1b;
  font-family: "Roboto", sans-serif;
  color: #f2fff2;
}
.alart {
  border-bottom: 0.5px solid #dadada;
}
.alart p {
  margin: 0;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #f9fcff;
  background-color: #343434;
}

/* header start */
header {
  padding: 0 20px;
  border-bottom: 0.5px solid #dadada;
  display: flex;
}
.logo {
  width: 20%;
}
.logo a img {
  width: 100%;
  padding: 25px 0 0 0;
}
.manu {
  width: 50%;
  padding-top: 15px;
}
.manu ul {
  padding: 0;
  display: flex;
}
.manu ul li {
  list-style: none;
}
.manu ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #dadada;
  padding: 10px 10px;
}
.manu ul li a sup {
  padding: 2px 5px;
  border-radius: 9px;
  text-transform: uppercase;
  font-size: 9px;
  color: black !important;
  background-color: #ff6d91 !important;
}
.manu ul li :hover {
  background-color: #461e25;
  color: #ff6d91;
}

.h_right {
  text-align: right;
  width: 50%;
  padding-top: 28px;
}
.theme_b {
  border-radius: 5px;
  padding: 5px;
  background: none;
  font-size: 14px;
  border: none;
  color: #dadada;
  cursor: pointer;
}
.theme_b:hover {
  background-color: #858585;
}
.theme_b svg {
  /* width: 22px; */
  fill: #dadada;
}
.theme_b span {
}
.search_b {
  border-radius: 15px;
  padding: 5px;
  width: 12%;
  text-align: right;
  border: 1px solid #858585;
  background: none;
}
.search {
  display: inline;
  position: relative;
}
.search a {
  position: absolute;
  color: #858585;
  right: 10px;
  top: 2px;
}
.l_b {
  background: none;
  border: none;
}
.l_b a {
  text-decoration: none;
  color: #cbcacb;
}
.s_b {
  padding: 4px 10px;
  border: none;
  border-radius: 2px;
}
.s_b a {
  text-decoration: none;
  color: black;
}
/* header end */

/* bottom header start */
.bottom_header {
  display: flex;
  justify-content: space-between;
  background-color: #343434;
  border-bottom: 0.5px solid #dadada;
}
.change_language {
  margin-right: 20px;
}
.c_h_button {
  margin-top: 2px;
  border-radius: 5px;
  padding: 5px;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #c8cdcd;
  cursor: pointer;
}
.c_h_button:hover {
  background-color: #858585;
}
.c_h_button svg {
  fill: #c8cdcd;
}
ul.breadcrumb {
  margin: 0;
  padding: 5px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li a {
  font-size: 14px;
  color: #dce2e7;
  text-decoration: none;
}
.breadcrumb li:not(:last-child)::after {
  content: ">";
  margin-left: 10px;
  color: #dce2e7;
}
ul.breadcrumb li a:hover {
  text-decoration: underline;
}
/* main content start */
.main {
  display: flex;
  padding: 0 20px 30px;
}
.left_content {
  width: 80%;
}
.filter {
  display: inline;
  position: relative;
}
.filter_b {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  padding: 5px;
  width: 30%;
  text-align: center;
  border: 1px solid #858585;
  background: none;
}
.filter a {
  position: absolute;
  color: #858585;
  left: 5px;
  top: 2px;
}
.left_body {
  padding: 0 10px 0 0;
  overflow-y: scroll;
  height: 400px;
}
.left_body ol {
  padding: 0;
}
.left_body ol li {
  margin: 12px 0 0 0;
  font-size: 12px;
  list-style: none;
  padding-left: 5px;
  color: #cdcdcd;
}
.left_body ol li a {
  font-size: 12px;
  text-decoration: none;
  color: #cdcdcd;
}
.left_body ol li a:hover {
  text-decoration: underline;
}
.toggle {
}
.toggle li {
  margin-top: 10px;
}
.mid_content {
  padding: 0 40px;
  width: 200%;
}
.mid_content h1 {
  margin-top: 40px;
  color: #cdcdcd;
  font-size: 32px;
}
.mid_content h2 {
  margin-top: 40px;
}
.mid_content h2 a {
  font-weight: 400;
  font-size: 32px;
  color: #cdcdcd;
  text-decoration: none !important;
}
.mid_content h2 a:hover {
  text-decoration: underline !important;
}
.mid_content h3 {
  margin-top: 40px;
  font-weight: 400;
  font-size: 16px;
  color: #cdcdcd;
}
.mid_content p {
  margin-top: 25px;
  line-height: 25px;
  color: #cdcdcd;
}
.m_p {
  margin-top: 0 !important;
  margin-left: 20px;
}
.m_p_2 {
  margin-top: 25px;
  margin-left: 25px;
}
.mid_content a {
  color: #4792ff;
  text-decoration: underline;
}
.mid_content a:hover {
  text-decoration: none;
}
.card {
  background: #343434;
  border-radius: 5px;
  padding: 20px 20px;
  border: 1px solid;
}
.card h1 {
  font-size: 18px;
  font-weight: 500;
}
.card p {
  font-size: 14px;
  margin: 15px 0 15px 0;
}
.card button {
  border: none;
  background: none;
}
.card button a {
}
.card ul li {
  margin: 10px 0 0 0;
}

.rt_content {
  width: 70%;
}
.rt_content h1 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  color: #cdcdcd;
}
.rt_content ol {
  padding-left: 0;
  padding-bottom: 5px;
  border-left: 1px solid #858585;
}
.rt_content ol li {
  margin-top: 10px;
  list-style: none;
}
.rt_content ol li a {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #cdcdcd;
}
.rt_content ol li a:hover {
  background-color: #461e25;
  color: white;
}
/* main content end  */
/* footer start  */
footer {
  background: #343434;
  padding: 25px 20px 25px;
}
.top_footer {
  border-bottom: 1px solid #cdcdcd;
  display: flex;
}
.footer_1 {
  width: 30%;
}
.footer_1 a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 22px;
  font-weight: 700;
}
.footer_1 p {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 400;
}
.footer_1 ul {
  padding: 0;
}
.footer_1 ul li {
  margin-right: 10px;
  list-style: none;
  display: inline;
}
.footer_1 ul li a i {
  font-size: 16px;
}
.footer_2 {
  width: 20%;
}
.footer_2 h2 {
  font-size: 14px;
  font-weight: 400;
  color: #cdcdcd;
}
.footer_2 ul {
  margin-top: 0;
  padding: 0;
}
.footer_2 ul li {
  margin-top: 5px;
  list-style: none;
}
.footer_2 ul li a {
  text-decoration: none;
  color: #cdcdcd;
  font-size: 12px;
}
.bottom_footer {
  margin: 15px 0 0 0;
}
.b_f_top {
  display: flex;
}
.bottom_footer a {
  margin-top: 16px;
  color: #dadada;
  margin-right: 20px;
  font-size: 11px;
}
.bottom_footer a:hover {
  text-decoration: none;
}
.f_img {
  margin-right: 10px;
  width: 8%;
  background: #cdcdcd;
}
.f_img a {
}
.f_img a img {
  width: 100%;
}
.bottom_footer p {
  color: #dadada;
  font-size: 11px;
}
/* footer end  */
